@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500');
html {
  scroll-behavior: smooth;
  transition: 0.3s;
}
body{
	font-family: robotolight;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    background-color: #939393;
    color: white;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 50%;
}
#myBtn i{
    color: #fff;
}
#myBtn:hover{
    background-color: #82CA9C;
}
#myBtn i:hover{
    color: #fff;
}
.social{
	background-color: #000;
    padding: 10px 0;
}
.social-icons{
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-icons li{
	display: inline-block;
}
.social-icons li a{
	color: #fff;
	padding: 8px;
}
.social-icons li a:hover i{
    color: #82ca9c;
}
.social-icons li i{
	font-size: 12px;
}
.social-contact a{
	color: #fff;
	padding: 10px;
}
.social-contact a:hover{
    text-decoration: none;
    color: #82ca9c;
}
.social-contact i{
	padding-right: 5px;
    font-size: 12px;
}
.navbar-default{
	padding: 15px 0 15px 0;
}
.navbar-brand{
    padding: 10px 15% ;
}
.navbar-nav li a{
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
    font-family: robotolight;
}
.navbar-nav li a:hover, li.nav-item.active{
    color: #82ca9c;
}
.navbar-nav .nav-item{
	padding-top: 7px;
}
.navbar-nav li a button{
	color: #82ca9c;
    border: 1px solid #82ca9c;
    border-radius: 20px;
    background: transparent;
    padding: 4px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar-nav li a button:hover{
	background: #82ca9c;
	color: #fff;
}
.navbar-nav li{
	padding-right: 12px;
}
.navbar-toggler-icon{
    width: 2px;
    height: 22px;
    background-color: #fff;
}
.navbar-toggler{
    background-color: #202020;
    transform: rotate(90deg);
    padding: 10px;
    margin-right: 12px;
}
.banner{
	background: url(../images/homebg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: auto;
}
.banner .banner-content{
	color: #fff;
	padding: 20% 0 10% 0;
}
.banner .banner-content h1{
	font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}
.banner .banner-content p{
    margin-bottom: 8%;
    font-size: 18px;
    letter-spacing: 1px;
}
.banner .overlay-banner{
	background-color: rgba(0, 0, 0, 0.15);
	min-height: 100vh;
}
.banner form{
    padding: 0 30%;
}
.banner form .banner-form{
    margin: 0 auto;
}
.banner form .form-control{
	padding: 28px 15px;
    border-radius: 0;
    border: none;
}
.banner form .input-group-text{
    padding: 13px 25px;
}
.banner form .input-group-text{
	border-radius: 0;
	background: #82ca9c;
	color: #fff;
	border-color: #82ca9c;
	width: 100%;
	padding-left: 30px;
    letter-spacing: 1px;
    font-size: 18px;
}
.banner form .input-group-text:hover{
	background-color: rgba(0, 173, 62, 0.75);
	border: none;
}
.product{
	padding: 8% 0 0% 0;
}
.features{
	padding: 8% 0 8% 0;
}
.product .product-content, .features .features-content{
	padding-top: 10%;
}
.product .product-content h2, .features .features-content h2{
    margin-bottom: 40px;
    font-size: 40px;
    color: #222222;
}
.product .product-content p, .features .features-content p{
	color: #565656;
	font-size: 18px;
}
.product .product-content ul, .features .features-content ul{
	list-style: none;
	padding: 0;
}
.product ul li, .features ul li{
	font-size: 18px;
    margin-top: 3%;
    color: #565656;
}
.product .product-content button, .features .features-content button{
    border-radius: 0px;
    background: #82ca9c;
    color: #ededed;
    border: 0;
    padding: 12px 30px;
    margin-top: 20px;
}
.product .product-content button:hover, .features .features-content button:hover{
	background: #40C26E;
}
.services{
	background: #F9F9F9;
	padding: 8% 0 8% 0;
}
.services .heading h2, .price .heading h2, .business .heading h2, .contact .heading h2{
	font-size: 37.5px;
	line-height: 45px;
	color: #565656;
	font-weight: 300;
}
.services .heading p, .price .heading p,  .business .heading p,  .contact .heading p{
    margin: 10px auto;
    padding-bottom: 20px;
    color: #565656;
    font-size: 16.5px;
    max-width: 55%;
}
.services .subheading{
	margin-top: 90px;
}
.services .service-content{
	padding: 0 8%;
}
.services .service-img img{
    width: 70px;
    float: right;
    margin-top: 50px;
}
.services .service-img2 img{
    width: 65px;
    float: right;
    margin-top: 35px;
}
.services .service-text h2{
    font-size: 24px;
    color: #222222;
    margin: 0;
}
.services .service-text p{
	font-size: 18px;
    color: #777777;
}
.price,.contact{
	padding: 8% 0 8% 0;
}
.business{
	background: url(../images/bg.png) no-repeat top center fixed;
	background-size: cover;
	width: 100%;
	padding: 8% 0 8% 0;
}
.business .community{
	background: #fff;
    padding: 40px 15px;
    border: 1px solid #ececec;
    box-shadow: 2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow: 2px 2px 5px 0 rgba(55,50,40, .20);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}
.business .community:hover{
	background: #82ca9c;
    color: #fff;
     transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
}
.business .community:hover h4, .business .community:hover p, .business .community:hover i, .business .community:hover hr{
	color: #fff;
}
.business .community h4{
	font-size: 17px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 15px 0;
}
.business .community p{
	font-size: 13px;
    color: #777777;
    line-height: 22px;
}
.business .community i{
    font-size: 60px;
    color: #82ca9c;
    margin-bottom: 20px;
}
.business .community hr{
	margin-top: 0;
    border: 1px solid #ededed;
    height: 1px;
    width: 80px;
    background: #ededed;
}
.business .business-content{
	margin-top: 40px;
	margin-bottom: 40px;
}
.contact form .form-control{
	border-radius: 0;
    padding: 22px 15px;
}
.contact form button{
	border-radius: 0px;
    background: #82ca9c;
    color: #ededed;
    border: 0;
    padding: 12px 30px;
    margin-top: 20px;
    letter-spacing: 1px;
}
.contact form button:hover{
	color: #fff;
    background-color: rgba(0, 173, 62, 0.75);
}
.contact .contact-desc{
	color: #565656;
}
.contact .contact-desc p{
	font-size: 16.5px;
	margin-bottom: 30px;
}
.contact .contact-desc h6{
	font-size: 18px;
}
.contact .contact-desc .phone{
	margin-top: 30px;
}
.contact .social-contact{
	list-style: none;
	padding: 0;
	margin-top: 25px;
}
.contact .social-contact li{
	display: inline-block;
	padding-right: 10px;
}
.contact .social-contact li i{
	color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000;
    padding-left: 10px;
    padding-top: 10px;
}
.contact .social-contact li i:hover{
	color: #8A3B6A;
	border-color: #8A3B6A;
}
.short-menu{
	background: #EFEFEF;
	padding: 7% 0 7% 0;
}
.short-menu .short-menu-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.short-menu .short-menu-item ul a{
	text-decoration: none;
	color: #000;
	font-size: 13px;
	font-weight: 300;
}
.short-menu .short-menu-item ul li{
	padding-top: 10px;
}
.short-menu .short-menu-item h5{
	font-size: 16px;
	font-weight: 600;
 }
.short-menu .short-menu-item p{
	font-size: 13px;
	line-height: 22.5px;
	font-weight: 300;
	color: #000;
	padding-top: 10px;
}
.short-menu form .banner-form{
	width: 100%;
    margin: 0 auto;
}
.short-menu form .form-control{    
	padding: 22px 5px;
    border-radius: 0;
    border: none;
}
.short-menu form .form-control::placeholder{
	font-size: 11px;
}
.short-menu form .input-group-text{
	border-radius: 0;
	background: #82ca9c;
	color: #fff;
	border-color: #82ca9c;
	width: 100%;
	padding-left: 6px;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
}
.short-menu form .input-group-text:hover{
	background-color: rgba(0, 173, 62, 0.75);
	border: none;
}
footer{
	padding: 25px 0 20px 0;
	border-top: 1px solid #999;
}
footer i{
	color: #FF0000;
}
footer p{
	padding-left: 26%;
}
.switch{
	display: inline-block;
    position: relative;
    padding: 2px;
    border-radius: 25px;
    background: #82ca9c;
}
.switch input[type="radio"] {
    position: absolute;
 	opacity: 0; 
}
.switch label{
    position: relative;
    z-index: 1;
    float: left;
    width: 90px;
    height: 35px;
    line-height: 45px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
}
#switching{
    position: absolute;
    top: 1px;
    left: 2px;
    height: 44px;
    width: 90px;
    background-color: #0c1f28;
    border-radius: 25px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: 0.5s ease;
}
.price .card-deck{
    margin-top: 30px;
}
.price .card-header{
    background: transparent;
    border: 1px solid #82ca9c;
    border-radius: 0;
}
.price .c-price .currency{
    font-size: 23px;
    font-weight: 700;
}
.price .c-price .value{
    font-size: 23px;
    font-weight: 300;
}
.price .c-price .duration{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
.price .card-header h3{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 30px 0 10px 0;
}
.price .card-body i{
    padding-right: 5px;
    color: #82ca9c;
}
.price .card-body .fa-times{
    color: red;
}
.price .card-footer{
    background: #82CA9C;
    border: none;
    padding: 25px;
}
.price .card-footer button{
    background: transparent;
    color: #fff;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.price .card .popular{
    background: #82CA9C;
    color: #fff;
}
.price .card-body p {
     padding-bottom: 10px; 
     color: #565656;
}
#communityData {
  display: none;
}
.price{
    position: relative;
}
@media only screen and (max-width: 1300px){
    footer p {
        padding-left: 0;
    }
}
@media only screen and (max-width: 1100px){
    .navbar-brand {
        padding: 10px 7%;
    }
}
@media only screen and (max-width: 1030px){
    .navbar-brand {
        padding: 10px 5%;
    }
}
@media only screen and (max-width: 992px){
    .navbar-nav li {
        padding-right: 0px;
    }
    .navbar-nav li a button {
        padding: 4px 10px;
    }
    .banner form .form-control, .banner form .input-group-text{
        font-size: 13px;
    }
}
@media only screen and (max-width: 850px){
    .navbar-brand {
        padding: 10px 2%;
    }
}
@media only screen and (max-width: 787px){
    .navbar-brand {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 767px){
    .navbar-nav{
        background: #101010;
        text-align: center;
        font-weight: 600;
        padding: 0 0 25px 35%;
    }
    li.nav-item {
        border-bottom: 1px solid #82ca9c;
        width: 50%;
        padding-top: 10px;
    }
    .navbar-nav li a{
        color: #fff;
    }
    .mb-btn{
        padding: 5% 52% 0 0 !important;
    }
    .navbar-collapse{
        margin-bottom: -15px;
    }
    .banner form {
        padding: 0 20%;
    }
}
@media only screen and (max-width: 576px){
    .social-icons{
        text-align: center;
    }
    .social-contact{
        float: none !important;
        text-align: center;
    }
}
@media only screen and (max-width: 480px){
    .banner form {
        padding: 0px 8%;
    }
}